<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 id="name" class="name"></h1>
    <div id="stores" class="stores">
        <div>
            <div>店家編號</div>
            <div id="storeId" class="storeId"></div>
        </div>

        <div>
            <div>店家名稱</div>
            <div id="storeName" class="storeName"></div>
        </div>

        <div>
            <div>店家住址</div>
            <div id="storeAddress" class="storeAddress"></div>
        </div>

        <div>
            <div>店家電話</div>
            <div id="storePhone" class="storePhone"></div>
        </div>

        <div>
            <div>店家負責人</div>
            <div id="storeOwner" class="storeOwner"></div>
        </div>
    </div>
</body>
</html>

<script>
    let name=sessionStorage.getItem("name")
    if (name){
        document.getElementById("name").innerHTML="歡迎您回來"+name
    }
    else{
        alert("請重新登入")
        location.href="http://localhost:3000/"
    }
</script>

<script>
    async function storeAll(){
        let url="http://localhost:3000/api/1.0/store/stores"
        let getStoreAll=await fetch(url)
        let stores=await getStoreAll.json()
        let storeId=document.getElementById("storeId")

        for(let i=0;stores.length>i;i++){
            let div=document.createElement("div")
            div.innerHTML=stores[i]._id
            storeId.appendChild(div)
            console.log(stores.length)
            console.log(stores[i+1])
            if (stores.length == i+1){
                let br=document.createElement("br")
                storeId.appendChild(br)
            }
        }

        let storeName=document.getElementById("storeName")
        for(let i=0;stores.length>i;i++){
            let div=document.createElement("div")
            div.innerHTML=stores[i].店家名稱
            storeName.appendChild(div)
            if (stores.length == i+1){
                let br=document.createElement("br")
                storeName.appendChild(br)
            }
        }


        let storeAddress=document.getElementById("storeAddress")
        for(let i=0;stores.length>i;i++){
            let div=document.createElement("div")
            div.innerHTML=stores[i].店家住址
            storeAddress.appendChild(div)
            if (stores.length == i+1){
                let br=document.createElement("br")
                storeAddress.appendChild(br)
            }
        }

        let storePhone=document.getElementById("storePhone")
        for(let i=0;stores.length>i;i++){
            let div=document.createElement("div")
            div.innerHTML=stores[i].店家電話
            storePhone.appendChild(div)
            if (stores.length == i+1){
                let br=document.createElement("br")
                storePhone.appendChild(br)
            }
        }

        let storeOwner=document.getElementById("storeOwner")
        for(let i=0;stores.length>i;i++){
            let div=document.createElement("div")
            div.innerHTML=stores[i].店家負責人
            storeOwner.appendChild(div)
            if (stores.length == i+1){
                let br=document.createElement("br")
                storeOwner.appendChild(br)
            }
        }
    }
    
    storeAll()

</script>