<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 id="name" class="name"></h1>
    <div id="stores" class="stores">
        <div>
            <div>店家名稱</div>
            <div id="storeName" class="storeName"></div>
            <div>店家住址</div>
            <div id="storeAddress" class="storeAddress"></div>
            <div>店家電話</div>
            <div id="storePhone" class="storePhone"></div>
            <div>店家負責人</div>
            <div id="storeOwner" class="storeOwner"></div>
        </div>

        <div>
            <div id="" class="">新增店家</div>
            <input type="text" name="insertStoreNameValue" id="insertStoreNameValue" placeholder="店家名稱">
            <input type="text" name="insertStoreAddressValue" id="insertStoreAddressValue" placeholder="店家住址">
            <input type="text" name="insertStorePhoneValue" id="insertStorePhoneValue" placeholder="店家電話">
            <input type="text" name="insertStoreOwnerValue" id="insertStoreOwnerValue" placeholder="店家負責人">
            <button onclick="insert()">新增</button>
        </div>

        <br>

        <div>
            <div>更改資料</div>
            <select id="select">
                <option value="">請選擇想要修改的選項</option>
                <option value="店家名稱" id="updateStoreName">店家名稱</option>
                <option value="店家住址" id="updateStoreAddress">店家住址</option>
                <option value="店家電話" id="updateStorePhone">店家電話</option>
                <option value="店家負責人" id="updateStoreOwner">店家負責人</option>
            </select>
            <input type="text" id="dataOld" name="dataOld" placeholder="請輸入原本內容">
            <input type="text" id="dataNew" name="dataNew" placeholder="請輸入修改內容">
            <button onclick="update()" >修改</button>
        </div>


    </div>

    <br>

    <div>
        <div>刪除店家</div>
        <input type="text" id="deleteStoreName" placeholder="請輸入想刪除的店家名稱">
        <button onclick="remove()">刪除</button>
    </div>

</body>
</html>

<script>
    let name=sessionStorage.getItem("name")
    if (name){
        document.getElementById("name").innerHTML="歡迎您回來"+name
    }
    else{
        alert("請重新登入")
        location.href="http://localhost:3000/"
    }
</script>

<script src="./stores.js"></script>