<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>請點選按鈕使用Line login</h1>
    <button id="login" name="login">登入/註冊</button>
</body>
</html>

<script>
    document.getElementById("login").addEventListener("click",function(){
        location.href="https://access.line.me/oauth2/v2.1/authorize?response_type=code&client_id=1655723971&redirect_uri=http://localhost:3003/login&state=12345abcde&scope=openid%20profile%20email&nonce=09876xyz"
    })
</script>