<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>認證中請稍後</h1>
</body>
</html>

<script>
    let getUrlString=location.href;
    let url = new URL(getUrlString);
    let code=url.searchParams.get("code");
    let data={code}
    let config={
        method:"POST",
        headers:{
            "Content-Type": "application/json"
        },
        body:JSON.stringify(data)
    };
    if (code){
        fetch("http://54.238.196.74:3000/api/1.0/user/signin",config)
        .then(function(res){
            return res.json()
        })
        .then(function(result){
            let message=result.message
            let name=result.name
            if (message === "Success"){
                sessionStorage.setItem("name",name)
                alert("登入成功")
                location.href="http://54.238.196.74:3000/background"
            }
            else{
                alert("登入失敗,請重新操作一次")
                location.href="http://54.238.196.74:3000/"
            }
        })
    }
    else{
        alert("error handler")
        location.href="http://54.238.196.74:3000/index"
    }


</script>